<h2>Students List</h2>
<table class = "table table-striped">
    <thead>
        <tr>
            <th>First Name</th>
            <th>Last Name</th>
            <th>Email Id</th>
            <th>Action</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor = "let student of students">
            <td>{{ student.firstName}}</td>
            <td>{{ student.lastName}}</td>
            <td>{{ student.emailId}}</td>
            <td>
                <button (click) = "updateStudent(student.id)" class="btn btn-info">Update</button>
            </td>
            <td>
                <button (click) = "deleteStudent(student.id)" class="btn btn-danger" style="margin-left: 10px">Delete</button>
            </td>
            <td>
                <button (click) = "studentDetails(student.id)" class="btn btn-success" style="margin-left: 10px">View</button>
            </td>
        </tr>
    </tbody>
</table>
